{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/roomstyle.css' %}">
</head>
<body>
    <h2>Room Chat Messages !</h2>
    <div class="container">
        <h4>Hello. How are you today?</h4>
        <span class="time-right">11:00</span>
      </div>

      <div class="container-form">
        <form action="">
            <input type="hidden" name="Username" id="Username">
            <input type="hidden" name="RoomCode" id="RoomCode">
            <input type="text" name="message" id="message" width="100px">
            <input type="submit" value="send">
        </form>
        </div>
</body>
</html>